src/main/mule/secure-properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc03a9a6-f2d3-4dd4-80e6-7c0a00dd7755" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="218c6529-533d-4d5f-b801-91f16071f130" file="local.properties" />
	<flow name="secure-propertiesFlow" doc:id="514fe407-52b3-4f39-abe8-447a11748d17" >
		<http:listener doc:name="Listener" doc:id="342df736-406f-4c89-b634-6c7a0be70b31" config-ref="HTTP_Listener_config" path="/secure"/>
		<ee:transform doc:name="Transform Message" doc:id="5f7dd5d7-9f99-4003-bbc7-fd2e92bc5571" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": payload.name,
	"phoneno": payload.phoneno
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9bd62fc5-3504-4deb-b511-779dece0d4dc" message="#[payload]"/>
	</flow>
</mule>
